@import '~@angular/material/theming';

.nav-bar{
  margin-bottom: 40px;

  a{
    color: #eee;
    font-size: 16px;
    margin-right: 1em;
    text-decoration: none;
    height: 20px;
    border-bottom: 2px solid #333;
    display: inline-block;
    text-transform: uppercase;

    &:hover{
      cursor: pointer;
      color: white;
      border-color: map-get($mat-yellow, 500);;
    }
  }
}

@mixin inline-flex() {
  display: flex;
  align-items: center;
}

.login{
  @include inline-flex();
  width: 400px;


  .mat-form-field{
    font-size: .8rem;
    width: 120px;
  }
}

.user-session-info{
  @include inline-flex();

  .user-label{
    font-size: 1rem;
    margin-right: .5rem;
  }

  .mat-icon-button i{
    font-size: 1.5rem;
    color: white;
  }

  .admin-badge{
    margin-right: .5rem;
  }
}
