<div style="text-align:center">
  <header>
    <mat-toolbar>
        <span>Galaxy Coins</span>
        <span class="fill"></span>
        <span>
          <div *ngIf="(loggedUser$ | async);then logoutTemplate else loginTemplate"></div>
          <ng-template #loginTemplate>
              <form action="" class="login">
                <mat-form-field>
                  <input matInput placeholder="Usuario" name="username" [(ngModel)]="credentials.username">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Contraseña" name="password" type="password" [(ngModel)]="credentials.password">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
              </form>
          </ng-template>
          <ng-template #logoutTemplate>
              <div class="user-session-info">
                  <i class="mdi mdi-account-star admin-badge" *ngIf="(loggedUser$ | async).isAdmin"></i>
                  <span class="user-label">{{(this.loggedUser$ | async).name}}</span>
                  <button mat-icon-button (click)="actions.logout()" color="primary">
                      <i class="mdi mdi-logout"></i>
                  </button>
              </div>
          </ng-template>
        </span>
    </mat-toolbar>
    <nav class="nav-bar">
      <a routerLink="/users">Ranking</a>
      <a routerLink="/activities">Actividades</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>

